.modal p {
  margin-bottom: 10px;
}

.title {
  text-align: center;
  margin: 40px 15px;
  line-height: 41px;
  font-size: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 54px;
}

@media screen and (max-width: 420px) {
  .title {
    margin: 20px 10px;
    line-height: 30px;
    font-size: 22px;
  }

  .cards {
    grid-gap: 20px;
  }
}