.main {
  margin: 0 20px;
  background-color: #fff;
  width: 100%;
  max-width: 1380px;
  box-shadow: var(--main-shadow);
}

.main h2 {
  padding: 18px 45px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  height: 110px;

  /*background-size: 100%;*/
  background-repeat: no-repeat;
  background-image: url("../public/assets/header-bg.svg");
}

.content {
  padding: 50px 45px 110px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 45px;
}

.trend {
  font-size: 24px;
  padding: 40px 20px 50px;
  text-align: center;
}

.advices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.card {
  background: linear-gradient(
    to right,
    transparent,
    var(--foreground-color)
  );
  border-radius: 20px;
  box-shadow: var(--main-shadow);

  padding: 30px 40px;
}

.hint {
  padding: 10px;
  border-radius: 20px;
  min-height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
}

.hint h3 {
  font-size: 28px;
  text-align: center;
}

.arrows {
  display: flex;
  justify-content: center;
}

.arrows hr {
  margin: 4px 15px 40px;
  width: 30%;
  position: relative;
  height: 40px;
  border-bottom: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

.arrows hr::after {
  position: absolute;
  content: url("../public/assets/arrow.svg");
  bottom: -28px;
  left: calc(50% - 13px);
}

.chartImage {
  width: 100%;
  margin-top: 30px;
}

.title {
  text-align: center;
  margin: 40px 15px;
  line-height: 41px;
  font-size: 30px;
}

.containerCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 54px;
}